pandas
numpy
sentence-transformers
langchain
langchain_openai
langchain-community faiss-cpu
langchain-text-splitters
langchain_groq
matplotlib
seaborn
scikit-learn
nltk
rouge-score
evaluate
rouge_score
ragas
openai
tiktoken